In [69]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

Questions: 
- What is the highest amount of netflix consumption? 17.535
- How many people wear glasses? What percentage of people is this? 2555, .511
- How many people's favorite animal is a dog? 1002
- What is the most common favorite animal? lemur
- What is the average netflix consumption for people that prefer brussel sprouts? 10.008
- What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? blueberries

In [70]:
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73

### What is the highest amount of netflix consumption? 17.535

In [71]:
df.netflix_consumption.max()

17.534818515438925

### How many people wear glasses? What percentage of people is this? 2555, .511

In [74]:
(df.wears_glasses == 'yes').sum()

2555

In [75]:
(df.wears_glasses == 'yes').mean()

0.511

### How many people's favorite animal is a dog? 1002

In [77]:
(df.favorite_animal == 'dog').sum()

1002

### What is the most common favorite animal? lemur

In [79]:
df.favorite_animal.value_counts().idxmax()

'lemur'

### What is the average netflix consumption for people that prefer brussel sprouts? 10.008

In [85]:
df [df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366

### What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? blueberries

In [89]:
subset = df [ (df.wears_glasses == 'yes') & (df.open_browser_tabs > 40)]
subset

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
4,dog,brussel sprouts,apple,yes,6.732698,73
9,frog,potato,blueberries,yes,7.840377,88
11,cat,squash,apple,yes,10.105289,72
13,dog,brussel sprouts,banana,yes,10.552754,75
...,...,...,...,...,...,...
4994,frog,squash,banana,yes,6.992568,55
4995,frog,potato,blueberries,yes,9.992337,59
4996,frog,potato,apple,yes,8.916902,46
4998,lemur,squash,blueberries,yes,12.720892,50
4999,dog,potato,banana,yes,12.890119,53

In [92]:
subset.favorite_fruit.value_counts().idxmax()

'blueberries'